.todoList {
    font-family: 'monospace';
}

.header {
    color: deeppink;
}

.flexRowContainer {
    display: flex;
    flex-direction: row;
}

.headerItem {
    width: 15em;
}

.item {
    width: 15em;
}